<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="InfirmerieDAL.Properties.Settings.BD_InfirmerieConnectionString"
            connectionString="Data Source=DESKTOP-SN1DHKK;Initial Catalog=BD_Infirmerie;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>